Repository AlchemyViewer/Alchemy, pull requests merged in 2024-08, with the labels that each got.

#91 FLN Fix Currency Foreign Language
  indra/newview/skins/default/xui/es/panel_status_bar.xml
  indra/newview/skins/default/xui/it/panel_status_bar.xml
  indra/newview/skins/default/xui/pt/panel_status_bar.xml
  indra/newview/skins/default/xui/ru/panel_status_bar.xml
  indra/newview/skins/default/xui/tr/panel_status_bar.xml
Labels: bug, triage, i18n

#20 Update supporter list with new residents
  doc/supporters.txt
Labels: Stale

#65 ALCH-64 PORT: Transaction Log
  indra/newview/CMakeLists.txt
  indra/newview/llfloatertransactionlog.cpp
  indra/newview/llfloatertransactionlog.h
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/skins/default/xui/en/floater_transaction_log.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: enhancement, triage
